<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}" />
    <title>Email Inbox</title>
    <style>
        /* .spam { background-color: red; }
        .normal { background-color: green; } */
    </style>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Classification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                 <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><button onclick="deleteRow(this)">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function deleteRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
</body>
</html>
